body {
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

h2 {
  border-left: 5px solid #0d6efd;
  padding-left: 10px;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 0.75rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

footer {
  font-size: 1.1rem;
  line-height: 2.5;
}
footer a {
    color: white;
    text-decoration: none;
}


.icn {
     width: 900px;
    height: auto;
}

section {
  scroll-margin-top: 80px;
}

footer .small {
    line-height: 2.5;  
}

.logo  img{

  width: 35px;
}
